*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8ebc2ee;
    padding: 20px;
}

.form{
    background: #f5f5f5;
    color: rgb(16, 17, 17);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    gap: 15px;
 
}
.first-section{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

.second-section{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;

}

.terms{
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
input{
    border-radius: 15px;
    padding: 10px;
}