/* Fuente Museo regular + bold para elegir el correcto usamos (font-weight: 700 ;) */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* Fuente Asap regular + bold para elegir el correcto usamos (font-weight: 700 o 400 ;) */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #edf7ff;
    padding: 30px;
}

h1{
color: #002ff1;
font-family: "MuseoModerno", bold;
font-size: 88px;
font-weight: 700;
}

h2{
color: #5b78eb;
font-size: 39px;
font-family: "Asap", sans-serif;
font-weight: 400;

}

p{
color: #04146c;
font-size: 25px;
font-family: "MuseoModerno", cursive;
margin-bottom: 16px;
}


h3{
color: #002ff1;
font-size: 36px;
font-family: "MuseoModerno", cursive;   


}

ul{
    color: #8a9af1;
    font-size: 30px;
    font-family: "MuseoModerno", cursive;   
}

li{
    font-family: "Asap", sans-serif;
    font-weight: 700;
    color: #04146c;
}

h4{
color: #8a9af1;
font-size: 199px;
font-family: "MuseoModerno", cursive;   
  
}