*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-template-rows: repeat(5,150px);
    grid-auto-flow: row;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main . img "
    "main main . extra"
    "banner banner banner banner"
    ;
}

.header{
    grid-area: header;
    background-color: blue;
}
.menu{
    grid-area: menu;
    background-color: blueviolet;
}
.hero{
    grid-area: hero;
    background-color: brown;
}
.main{
    grid-area: main;
    background-color: rgba(0, 0, 255, 0.363);
}
.img{
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.extra{
    grid-area: extra;
    background-color: rgb(32, 245, 60);
}
.banner{
    grid-area: banner;
    background-color: yellow;
}



/* Responsive Design */
/* Tablet */
@media screen and (min-width:768px) and (max-width:1023px) {
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(5,150px);
        grid-template-areas: 
        "header header header"
        "hero hero hero"
        "menu main main"
        "menu banner banner"
        "menu extra img"
        ;
    }
}

/* Mobile */
@media screen and (max-width:767px) {
    .container{
        grid-template-columns: repeat(1,2fr);
        grid-template-rows: repeat(7,150px);
        grid-template-areas:
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "img"
        ;
    }
    .img{
        grid-area: img;
        width: 100%;
        height: 100%;
        /* Esta etiqueta se  adapta al contenedor sin recortar ni distorsionar la imagen. */
        object-fit: cover;
    }
}