@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 66px;
    padding: 2rem;
}
h2{
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 120px;
    padding: 0.5rem;
}
h3{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 176px;
    padding: 1rem;
}
h4{
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 34px;
    margin: 30px;
}
h5{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 50px;
    padding: 15px;

}