@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* ahora para cambiar los pesos por esjemplo, black, bold, regular y italic usarel font weight */
/* h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;   Black
}

h2 {
  font-weight: 700;   Bold
}

p {
  font-weight: 400;   Regular
}

em {
  font-style: italic;
} */

 /* tipos de pesos para usarlos  */


/*
 h1 { font-weight: 900; }   Black
h2 { font-weight: 700; }   Bold
p  { font-weight: 400; }   Regular
h3 { font-weight: 600; }   SemiBold
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Montserrat", sans-serif;
     background-color: black;
     color: white;
     text-align: center;
 

}
h1,h2,h3,h4{
    font-weight: 900;
    margin: 10px 0;
    padding: 10px 0;
    line-height: 1;
}
h4{
    font-size: 67px;
}
h1{
    font-size: 197px;
}
h2{
    font-size: 217px;
    margin: 40px 0;
}
h3{
    font-size: 60px;
}
p{
    font-size: 30px;
    font-weight: 600;
}
span{
    font-weight: 600;
}

h1,h3{
background-color: white;
color: black;
}


/* nota: punto de quiebre de 767px and 768 luego otro punto de quiere 1023px */

/* mobile */
@media (min-width:767px) {
    body{
    background-color: yellow;
    }
}

/* tablet */
@media (min-width:768px) and (max-width:1023px) {
    body{
        background-color: blueviolet;
    }
}

/* desktop */
@media (min-width:1024px){
    body{
        background-color: hotpink;
    }
}


