@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color: rgb(240, 235, 235);
    font-family:"Oswald", sans-serif;
    padding: 20px;
}

h1{
    color: violet;
}
h2{
    font-family: cursive;
}